<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <firstdataglobalgateway>
                <active>0</active>
                <model>\Schogini\Firstdataglobalgateway\Model\Firstdataglobalgateway</model>
                <order_status>processing</order_status>
                <title>Credit Card (First Data API Payments)</title>
                <allowspecific>0</allowspecific>
                <debug>0</debug>
                <test>1</test>
                <cctypes>AE,VI,MC,DI</cctypes>
                <useccv>1</useccv>
                <payment_action>authorize</payment_action>
            </firstdataglobalgateway>
        </payment>
    </default>
</config>