<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->


<div id="opc-sidebar"
     data-bind="afterRender:setModalElement, mageInit: {
    'Magento_Ui/js/modal/modal':{
        'type': 'custom',
        'modalClass': 'opc-sidebar opc-summary-wrapper',
        'wrapperClass': 'checkout-container',
        'parentModalClass': '_has-modal-custom',
        'responsive': true,
        'responsiveClass': 'custom-slide',
        'overlayClass': 'modal-custom-overlay',
        'buttons': []
    }}">
    <!-- ko foreach: getRegion('summary') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
    <!--/ko-->

    <div class="opc-block-shipping-information">
        <!-- ko foreach: getRegion('shipping-information') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
    </div>
    <div class="sidebar-toolbar" id="sidebar-buttons">
        <div class="primary">
            <button type="submit" class="button action continue primary" onclick="
                if(window.location.href.indexOf('#payment') > -1){
                    jQuery('#payment .action.primary.checkout').trigger('click');
                } else {
                    jQuery('#shipping-method-buttons-container .button.action.continue.primary').trigger('click');
                }">
                <span>Continue to <strong>Payment</strong></span>
            </button>
        </div>
    </div>
</div>
