<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../Backend/etc/menu.xsd">
    <menu>
		<add id="Ey_ProductRegister::register" title="Registered Products" module="Ey_ProductRegister" sortOrder="900" resource="Ey_ProductRegister::register" action="productregister/index/index"/>    
    </menu>
</config>